html,
body {
    height: 100%;
    font-size: 2em;
    margin: 0;
}

img {
    float: right;
    width: 80px;
    height: 80px;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
}

.header ul {
    display: block;
    list-style-type: none;
    font-size: 20px;
    display: inline;
    color: black;
}

.header {
    height: 100px;
    min-height: 100px;
    background-color: gray;
}

.sub-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: green;
}

.side-bar {
    background-color: yellow;
    width: 200px;
    min-width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}